[[header]]


<main>

  <section class=" ">

    <div id="carouselExampleCaptions" class="carousel slide ">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner rounded-bottom-5 ">
        <div class="carousel-item active">
          <img src="[[base-url]]/views/templates/assets/bandateste1.svg" class="d-block w-100 " alt="...">
          <div class="carousel-caption ">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="[[base-url]]/views/templates/assets/bandateste1.svg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="[[base-url]]/views/templates/assets/bandateste1.svg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

  </section>

 

  <!-- <section class=" rounded-5 bg-dark space shadow m-4"  >
    

    
   <div class="container d-flex text-white ">

    <div class="col-6 me-4 justify-content-center  align-items-center">
      <h4 class="text-warning">Encontre o melhores</h4>
      <h1 class="display-1 fw-bold" >Freelancer e Bandas</h1>
      <p>*Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe laboriosam deleniti tenetur quibusdam voluptatum deserunt obcaecati animi 
        optio iste minus possimus consectetur suscipit porro, accusantium sint excepturi. Maiores, praesentium officia.</p>
        <button type="button" class="btn btn-warning p-4 mt-4 rounded-4 fw-bold">ENCONTRE AQUI</button>
    </div>

    <div class="col-6 rounded-5  "  style="padding-bottom: 500px;" id="img">

    </div> 
   </div>
   
  </section>    -->
  
  
  
 

    <section class="container space">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2><span class=" "> Melhores Musicos</span></h2>
          <p>Choose the services you need to get your site launch-ready</p>
        </div>
        <div class="col-md-6 text-center">
          
        </div>
      </div>

      <div class="">
        <div class="row d-flex justify-content-center align-items-center">
          [[card]]
        </div>
      </div>
      
    </section>
    
    
    
      
        
      

      <section class=" bg-dark rounded-5 space mx-3 ">
        <div class="container p-3">
          <h1 id="titulo" class="text-center text-white fw-bold">Confira nossas categorias</h1>
          <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia commodi
            velit, nam,
            sapiente eos iste quasi tenetur exercitationem vitae corporis, ipsa minus. Quasi nisi eius nostrum ipsa ut.
            Quidem, culpa?</p>
         


            <div class="row d-flex justify-content-center align-items-center espacamento">
              [[categorias]]
            </div>

            <div class="d-flex justify-content-center align-items-center">

              <a href="[[base-url]]/categoria" class="btn btn-warning btn-lg fw-bold p-3 rounded-4">Veja todas as Categorias</a>
            </div>
          </div>
          
      </section>
      <section class=" space  mx-3 rounded-5">
        <div class="container ">
          <div class="row">
            <div class="col-6 rounded-5 shadow " id="img">
           
            </div>
  
            <div class="col-6 p-5">
              <h4 class="text-warning">sobre nos</h4>
              <h1 class="display-3 fw-bold mb-5">Quem somos nós?</h1>
              <p>Somos uma empresa focada em revolucionar o mercado da música nacional,
                possibilitando músicos novos e mais experientes a terem mais visibilidade.
                Já somos mais de 1 milhão de pessoas na nossa comunidade, e planejamos continuar a expandir.</p>
                <button type="button" class="btn btn-warning p-3 mt-4 rounded-4 fw-bold shadow">Venha Fazer Parte</button>
  
            </div>
          </div>

          

          

        </div>
      </section>


      <section class="space">
        <div class="container rounded-5 p-4 bg-danger d-flex">
          
          <div class="col-6 rounded-5 p-5 ">
            <h4>Encontre o melhores</h4>
            <h1 class="" >Freelancer e Bandas da sua Região</h1>
            <p>*Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe laboriosam deleniti tenetur quibusdam voluptatum deserunt obcaecati animi 
              optio iste minus possimus consectetur suscipit porro, accusantium sint excepturi. Maiores, praesentium officia.</p>
              <button type="button" class="btn btn-warning btn-lg p-3 rounded-4 fw-bold">ENCONTRE AQUI</button>
    
          </div>
    
          <div class="col-6 rounded-5 bg-white " id="img">
            
          </div>
    
        </div>
      </section>

      <div class="d-flex justify-content-center align-items-center ">

        <hr class="w-75 ">
      </div>
      
      

      <section class="space">

        <div class="container">
          <div class="row ">
          
            <div class="mt-5 col-lg-6 col-md-12 col-sm-0 px-4 px-0 pb-4">
              <h1 class="fw-bold text-center mb-5">Perguntas Frequentes</h1>


              <div class="accordion accordion-flush shadow " id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header fw-bold">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      O que é o Zene?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Zene é um serviço inovador para músicos e contratantes. Criamos um ambiente onde facilitamos o contato entre essas duas partes de maneira segura.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header fw-bold">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Como posso divulgar meu trabalho e fazer parte da comunidade?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Basta apenas criar o seu perfil com suas informações corretas e já estará pronto para acessar o nosso serviço.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Como posso aparecer nos mais populares?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Para aparecer nos mais populares, seu perfil precisará ser um dos mais requisitados da nossa plataforma.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Como farei os pagamentos?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">No nosso site já existe uma aba com as opções de pagamento mais populares.</div>
                  </div>
                </div>
              </div>
             
            </div>

            <div class="col-lg-6 col-md-12 textoContato text-center py-5 d-flex flex-column justify-content-center">
              <h1 class=" fw-bolder">Como quer falar conosco?</h1>
            
              <div class="row py-5">
                <div class="col-12 col-md-4 ">
                  <h4 class="text-dark fw-bolder">E-mail</h4>
                  <p class="text-dark">emaildaempresa@gmail.com</p>
                </div>
                <div class="col-12 col-md-4 ps-3">
                  <h4 class="text-dark fw-bolder">Telefone</h4>
                  <p class="text-dark">(19) 4002-8922</p>
                </div>
                <div class="col-12 col-md-4 ps-4">
                  <h4 class="text-dark fw-bolder">Chat</h4>
                  <p class="text-dark text-center">(19) 4002-8922</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
</main>

[[footer]]

