[[header]]


<main>

  <section class="hero  bg-dark " >
    

    
   <div class="container  ">

    <div class="col-6  ">
      <h4>Encontre o melhores</h4>
      <h1 class="" >Freelancer e Bandas</h1>
      <p>*Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe laboriosam deleniti tenetur quibusdam voluptatum deserunt obcaecati animi 
        optio iste minus possimus consectetur suscipit porro, accusantium sint excepturi. Maiores, praesentium officia.</p>
        <button type="button" class="btn-hero upper ">ENCONTRE AQUI</button>
    </div>

    <div class="col-6 ">
      <img src="" alt="" id="img">
    </div>
   </div>
   
  </section>


  

    <section class="container espacamento  ">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2><span class=" "> Melhores Musicos</span></h2>
          <p>Choose the services you need to get your site launch-ready</p>
        </div>
        <div class="col-md-6 text-center">
          
        </div>
      </div>

      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          [[card]]
        </div>
      </div>
      
    </section>
    
    
    
      
        
      

      <section class="categorias bg-dark rounded-5 espacamento">
        <div class="container">
          <h1 id="titulo" class="text-center text-white fw-bold">Categoria</h1>
          <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia commodi
            velit, nam,
            sapiente eos iste quasi tenetur exercitationem vitae corporis, ipsa minus. Quasi nisi eius nostrum ipsa ut.
            Quidem, culpa?</p>
         


            <div class="row d-flex justify-content-center align-items-center">
              [[categorias]]
            </div>
          </div>
          
      </section>
      
      
</main>

[[footer]]

