html {
    min-height: 1366px;
}


.profile-head {
    transform: translateY(5rem)
}



.perfil {
    background: #2c2c2c;
    background: linear-gradient(to right, #d8d8d8, #2b2a2b);
    min-height: 100vh;
    overflow-x:hidden;
}

section{
    
    padding-top: 100px;
    padding-bottom: 100px;
}
